<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="error">
		<appender-ref ref="stdout" />
	</root>

	<!--<logger name="net.sf.lightair" level="warning" />-->
	<!--<logger name="net.sf.lightair" level="info" />-->
	<!--<logger name="net.sf.lightair" level="debug" />-->
	<!--<logger name="net.sf.lightair" level="trace" />-->

</configuration>
